
@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
   
}

body {
    font: 100; 
    font-family: 'Courier New', Courier, monospace; 
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), url('bling_bg.jpg'); 
    color: #fff; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #2907e7; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    font-size: 25px; 
    text-transform: uppercase;
    border-bottom: 3px solid #ffd700; 
    margin-bottom: 20px; 
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #2907e7; 
    color: #fff; 
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 3px solid #ffd700;
}

nav a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 20px; 
    transition: all 0.3s ease-in-out; 
}

nav a:hover {
    color: #ffd700; 
    transform: rotate(10deg) scale(1.1); 
}

main {
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 10px solid #ffd700; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); 
    transition: all 0.3s ease-in-out; 
    margin: 5px; 
}

.image-container img:hover {
    transform: rotate(10deg) scale(1.1); 
    filter: brightness(2.5); 
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(270deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2907e7; 
    margin-top: auto; 
    opacity: 0;
    animation: fadeIn 1s ease forwards; 
}

@font-face {
    font-family: 'SmoothPet';
    src: url(fonts/transfonter.org-20240408-205401/SmoothPet.woff) format('woff');
}

header {
    font-family: 'SmoothPet';
}

footer {
text-align: center;
padding: 100px;
background-color: #2907e7; 
margin-top: auto; 
opacity: 0;
animation: fadeIn 1s ease forwards; 
margin-left: auto;
margin-right: auto;
width: 100%;
}