body {
    background-color: #2907e7; 
    color: #fff; 
    font-family: 'Courier New', Courier, monospace; 
}

nav {
    background-color: #2907e7; 
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2907e7; 
    animation: slideIn 1s ease forwards;
}

.artwork-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.artwork-details {
    font-style: italic;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.image-container {
    margin: 20px;

    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: 550px; 
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%; 
}

.artwork-description {
    width: 80%;
    margin: 20px auto;
    color:#fff;
    animation: fadeIn 1s ease forwards;
}

.artwork-description p {
    margin-bottom: 10px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #2907e7; 
    animation: fadeIn 1s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a {
color: white;
}
.marquee-container {
overflow: hidden;
white-space: nowrap;
}

.marquee-container h3 {
animation: marquee 10s linear infinite;
}

@keyframes marquee {
0% { transform: translateX(100%); }
100% { transform: translateX(-100%); }
}
@font-face {
font-family: 'SmoothPet';
src: url(fonts/transfonter.org-20240408-205401/SmoothPet.woff) format('woff');

}

h3 {
font-family: 'SmoothPet'

}
.centered-link {
text-align: center;
}



@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
   
}
