@font-face {
    font-family: 'Smooth Pet';
    src: url('SmoothPet.woff2') format('woff2'),
        url('SmoothPet.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

